@import "_bs_overrided";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
	--bs-dropdown-link-hover-bg: transparent;
}

body {
	font-family: "Open Sans", sans-serif;
}

img,
svg {
	cursor: pointer;
}

.no-style {
	text-decoration: none;
}

.movies {
	overflow-x: auto;
	overflow-y: hidden;
}

.movies::-webkit-scrollbar {
	display: none;
}

.movies {
	img {
		&:hover {
			transform: scale(1.1);
			transition: 100ms;
		}
	}
}

.my-container {
	max-width: 800px;
	margin-inline: auto;
}

.row.g-1.movies {
	scroll-behavior: smooth;
}

.my-btn {
	text-align: center;
}

footer {
	i {
		&:hover {
			color: #9ddceb;
		}
	}
}

li {
	a.text-secondary {
		&:hover {
			color: #9ddceb !important;
		}
	}
}

/*bottoni seconda pagina */
.hov {
	&:hover {
		color: #9ddceb;
	}
}

button.hovv {
	&:hover {
		background-color: #2b2b2b;
		-webkit-box-shadow: 0 0 10px 5px #414141;
		box-shadow: 0 0 10px 5px #414141;
	}
}
